@import"colores";



body {
      background-color:$color-fondo;
      height: 100%;
}

.vertical_nav {
      padding-left: 10px;
      padding-top: 10%;
      padding: 10% 0 10% 0.2%;
      border-left-style: solid black;
      
}

.logo {
      padding-right: 10px;
}

.CustomC{
      max-width: 90%;
      padding: 1% 0 1% 0;
}

.ad {
     padding-top: 25%;
     padding-bottom: 25%;
}

.footer {
      display: flex;
      flex-direction: row;
      justify-content:space-around;
      text-decoration: none;
}

.footer_hijo {
      display: flex;
      flex-direction: column;
      align-items: center;
      
}

.selectores {
      text-decoration: none;
      color: $color-primario;
}

.Carrito_BC {
      padding-top: 10px;
      padding-bottom: 60px;
}



.cambiar_imagen {
      padding-bottom: 70px;
      padding-top: 2%;
      text-decoration: none;
      color: $color-primario;

}

.perfil {
      border-style: solid;
      width: 60%;
      
}

.logo_rs_inst 
{
      width: 7% ;
}

.logo_rs {
      width: 9%;
}

.micuenta-button {
      background-color: $color-primario;
      font-weight:bold;
      border-radius: 50px;
      margin: 30px;

      &:hover {
            background-color: aqua;
      }

}





@media screen and (max-width: 767px) {
      .footer {
            display: flex;
            flex-direction: column;
            align-items: center;
      }

}

.producto_info {
      padding: 80px;
}

.producto__descripcion {
      border-top-style: solid;
      padding: 10px;
}

.producto__envio {
      border-style: solid;

}


.carrito__footer{
      padding-top: 25%;
}

.busqueda__filtro{

     padding-top: 30px;
     padding-left: 30px;
}

.busqueda__resultados{
      padding-top: 50px;
}